body, #app {
  min-height: 100vh;
}

.ant-layout-header {
  width: 100%;
  position: fixed;
}

main.ant-layout-content {
  margin-top: 64px;
  padding: 0 50px;
  min-height: 100% !important;
  background-color: #fff;
}

.new-hook {
  margin-top: 24px;
  text-align: right;
}

.hooks {
  margin-top: 12px;
  padding: 24px 10px;
  border: 1px solid #eff2f7;
  border-radius: 5px;

  &:hover {
    box-shadow: 0 3px 3px rgba(56, 65, 74, .1);;
  }
}
