body, #app {
  min-height: 100vh;
}

.ant-layout-header {
  width: 100%;
  position: fixed;
  z-index: 99;
}

main.ant-layout-content {
  margin-top: 64px;
  padding: 0 50px;
  min-height: 100% !important;
  background-color: #fff;
}

.viewport {
  margin-top: 24px;
  padding-bottom: 50px;
}

.new-hook {
  text-align: right;
}

.hooks {
  margin-top: 12px;
  padding: 24px 10px;
  border: 1px solid #eff2f7;
  border-radius: 5px;
  background-color: #eff2f7;

  &:hover {
    box-shadow: 0 3px 3px rgba(56, 65, 74, .1);

    .actions {
      opacity: 1;
    }
  }

  .actions {
    opacity: 0;
  }
}

.trigger-group {
  border: 1px dashed #1677ff;
  border-radius: 3px;
  padding: 10px;

  .add-more {
    opacity: 0;
  }

  &:hover > .add-more {
    opacity: 1;
  }
}

.action-item {
  border: 1px solid #299cdb;
  border-radius: 5px;
  padding: 10px;
}

.txt-center {
  text-align: center;
}

.float-rgt {
  float: right;
}

.step-btn {
  margin-top: 12px;
}

.mini-back-btn {
  font-size: 20px;
}

.no-margin {
  margin: 0 !important;
}

.no-margin-rgt {
  margin-right: 0 !important;
}

.margin-lft {
  margin-left: 12px !important;
}

.ant-select {
  min-width: 150px;
}

.anticon[color=primary] {
  color: #00b96b;
  fill: #00b96b;
}

.anticon[color=blue] {
  color: #299cdb;
  fill: #299cdb;
}


